html {
  link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"
}

body {
  font-family: "Montserrat", sans-serif;
background-color: #cb1582;
}

.sidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 24px;
}

.sidenav a {
  padding: 5px 5px 5px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #1DB954
}

.sidenavp {
 padding: 7px 5px 5px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.main1 {
 height: 33%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #ff4632;
  overflow-x: hidden;
  padding-top: 20px;
}

.main1text {
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
margin-top: 20px;
margin-left: 450px
}

.main2 {
 height: 33%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #cb1582;
  overflow-x: hidden;
  margin-top: 250px;
}

.main2text {
  text-decoration: none;
  font-size: 14px;
color: #a5ffef;
  display: block;
margin-top: 20px;
margin-left: 450px
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

ab:link, ab:visited {
  background-color: BLACK;
width: 200px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px
}

ab:hover, ab:active {
  background-color: white;
color: black
}
