html {
  link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"
}

body {
  font-family: "Montserrat", sans-serif;
background-color: #cb1582;
}


.sidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 24px;
}

.sidenav a.menu {
  padding: 5px 5px 5px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  display: block;
}

.sidenav a.menu:hover {
  color: #1DB954;
}

.sidenavp {
 padding: 7px 5px 5px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a.menu {font-size: 18px;}
}

a.history:link, a.history:visited {
  background-color: black;
  width: 175px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px
}

a.history:hover, a.lm:active {
color: black;
  background-color: white;
}

a.about:link, a.about:visited {
  background-color: #a5ffef;
  width: 175px;
  color: #cb1582;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px
}

a.about:hover, a.about:active {
color: #cb1582;
  background-color: white;
}

a.future:link, a.future:visited {
  background-color: #1ed760;
  width: 175px;
  color: #2d46b9;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px
}

a.future:hover, a.future:active {
color: #2d46b9;
  background-color: white;
}

.main1 {
 height: 33%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #ff4632;
  overflow-x: hidden;
  padding-top: 20px;
}

.main1text {
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
margin-top: 20px;
margin-left: 450px
}

.main2 {
 height: 34%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #cb1582;
  overflow-x: hidden;
  margin-top: 250px;
}

.main2text {
  text-decoration: none;
  font-size: 14px;
color: #a5ffef;
  display: block;
margin-top: 50px;
margin-left: 850px
}

.main3 {
 height: 33%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #2d46b9;
  overflow-x: hidden;
  margin-top: 525px;
}

.main3text {
  text-decoration: none;
  font-size: 14px;
color: #1ed760;
  display: block;
margin-top: 50px;
margin-left: 450px
}

</style>
</head>
<body>

<div class="sidenav">
<img src="hello.png" width="129.6px" height="39.2px" style="margin-left:10px">
  <a href="#" class="menu"><b>Home</b></a>
  <a href="#" class="menu"><b>Creators</b></a>
  <a href="#" class="menu"><b>Github Page</b></a>
<div class="sidenavp"> 
<b>PLAYLISTS</b> 
</div>
  <a href="#" class="menu"><b>History</b></a>
  <a href="#" class="menu"><b>About</b></a>
  <a href="#" class="menu"><b>Future</b></a>
</div>

<div class="main1">
<div class="main1text">
<h1 style="font-size:21"> <b> Music <br> in the Past </b> </h1>
<p>Travel back in time and see how music evolved</p>
<a href="default.asp" class="history" target="_blank">LEARN MORE</a>
</div>
</div>

<div class="main2">
<div class="main2text">
<h1 style="font-size:21"> <b> Music <br> Streaming Sites </b> </h1>
<p>Travel back in time and see how music evolved</p>
<a href="default.asp" class="about" target="_blank">LEARN MORE</a>
</div>
</div>

<div class="main3">
<div class="main3text">
<h1 style="font-size:21"> <b> Music <br> in the Future </b> </h1>
<p>Travel back in time and see how music evolved</p>
<a href="default.asp" class="future" target="_blank">LEARN MORE</a>
</div>
</div>

   
</body>
</html> 
